*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}
body {
  font-family: "vazir"!important;
  direction: rtl;
}
.header{
  display: flex;
  justify-content: space-around;
  padding: 20px 300px;
  box-shadow: 0 0 10px rgba(117,117,117,.3);
  align-items: center;
}
.header input {
  width: 500px;
  padding: 20px;
  border: 1px solid rgb(180,180,180);
  font-size: 20px;
  font-weight: bold;
}
.header button{
  width: 150px;
  padding: 20px;
  border: none;
  background-color: crimson;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery img{
  width: 22%;
  padding: 30px;
  height: 400px;
  object-fit: cover;
  transition: all .3s ;
  -webkit-transition: all .3s ;
  -moz-transition: all .3s ;
  -ms-transition: all .3s ;
  -o-transition: all .3s ;
}
.gallery img:hover{
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
}